*{
    font-family: Lato,'Microsoft YaHei', 'SimHei', sans-serif;
}
body {
	/* background-color: #eee; */
	background-image: url("/css/pics/canvas_bg.jpg");
}
.container-bg{
	background-color: #f8f8fd;
}