<div class="side">
    <div>
        <i class="fa fa-external-link"></i>
        Полезные ссылки
    </div>
    <ul class="content-ul">
        <li><a href="https://github.com/super-dom/super-dom.github.io/projects/1"><i class="fa fa-github"></i><b>Доска обращений жильцов</b></a></li>
        <li><a href="https://mos.ru/">Портал мэра Москвы</a></li>
        <li><a href="https://www.gosuslugi.ru/">Портал госуслуг РФ</a></li>
        <li><a href="https://my.mosenergosbyt.ru">ЛК Мосэнерго</a></li>
        <li><a href="https://t.me/superdom"><i class="fa fa-telegram"></i><b>Наш канал в телеграм</b></a></li>
    </ul>
</div>