<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class="contact">
            Contact me at: {% if site.github_username %}
            <a href="https://github.com/{{site.github_username}}" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a> {% endif %} {% if site.email %}
            <a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> {% endif %} {% if site.weibo_username %}

        </p>

    </div>
</footer>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
