<head>
    <!-- [2022-11-10]卡片样式 -->
    <link  href="{{ "/css/card.css " | prepend: site.baseurl }}" rel="stylesheet"  type="text/css"> 
</head>

<div class="post-recent">
    <div class="pre">
        {% if page.previous %}
        <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">
        {% if page.next %}
        <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>
</div>

<div class="kapian">
    {% if page.previous %}
    <div class="tu">
       <img src="https://img.zcool.cn/community/01493a5cc98256a801214168b8995d.jpg">
    </div>
    <div class="wenben">
          <p><a href="{{ page.previous.url | prepend: site.baseurl }}">标题：{{ page.previous.title }}</a></p>
          <p style="padding-bottom: 20px;">摘要：{{ page.previous.excerpt }}</p>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="tu">
        <img src="https://img.zcool.cn/community/01493a5cc98256a801214168b8995d.jpg">
     </div>
     <div class="wenben">
           <p><a href="{{ page.next.url | prepend: site.baseurl }}">标题：{{ page.next.title }}</a></p>
           <p style="padding-bottom: 40px;">摘要：{{ page.next.excerpt }}</p>
     </div>
     {% endif %}
</div>
