<html>

    <head>
      <meta charset="UTF-8" />
      <title>TensorFlow.js OBD Demo</title>
      <!-- Load TensorFlow.js-->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
      <!-- Load the coco-ssd model. -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
      <!-- Load React. -->
      <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

      <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    </head>

    <body>
        <h1> 实时目标检测 </h1>
      <h2>Demo of TensorFlow.js Coco SSD's model object detection</h2>

      <!-- Load our React component. -->
      <script src="wqw_detect.js" type="text/babel"></script>

      <!-- <script src="https://raw.githubusercontent.com/juandes/tensorflowjs-objectdetection-tutorial/raw/master/detect.js" type="text/babel"></script> -->
      
      <!-- We will put our React component inside this div. -->
      <div id="root"></div>
      
    </body>

</html>