<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1404d33971ac4faaa165d55fa95d4497" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1404d33971ac4faaa165d55fa95d4497 = echarts.init(
            document.getElementById('1404d33971ac4faaa165d55fa95d4497'), 'white', {renderer: 'canvas'});
        var option_1404d33971ac4faaa165d55fa95d4497 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u767e\u5206\u6bd4(%)",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5c0f\u5382\u9ad8\u7ba1",
                    "value": 25
                },
                {
                    "name": "\u8f6c\u9500\u552e",
                    "value": 20
                },
                {
                    "name": "\u5927\u5382\u9ad8P",
                    "value": 15
                },
                {
                    "name": "\u56fd\u4f01/\u4e8b\u4e1a\u5355\u4f4d",
                    "value": 15
                },
                {
                    "name": "\u7f8e\u5e1d\u5927\u5382\u517b\u8001",
                    "value": 10
                },
                {
                    "name": "\u6295\u8d44",
                    "value": 10
                },
                {
                    "name": "\u54a8\u8be2/\u4fdd\u9669",
                    "value": 5
                },
                {
                    "name": "\u81ea\u5df1\u5f53\u8001\u677f",
                    "value": 1
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5c0f\u5382\u9ad8\u7ba1",
                "\u8f6c\u9500\u552e",
                "\u5927\u5382\u9ad8P",
                "\u56fd\u4f01/\u4e8b\u4e1a\u5355\u4f4d",
                "\u7f8e\u5e1d\u5927\u5382\u517b\u8001",
                "\u6295\u8d44",
                "\u54a8\u8be2/\u4fdd\u9669",
                "\u81ea\u5df1\u5f53\u8001\u677f"
            ],
            "selected": {},
            "show": true,
            "left": "5%",
            "top": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "IT\u7801\u519c\u51fa\u8def",
            "subtext": "[2020-4-20] \u5982\u4f55\u7834\u89e3\u4e2d\u5e74\u5371\u673a",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1404d33971ac4faaa165d55fa95d4497.setOption(option_1404d33971ac4faaa165d55fa95d4497);
    </script>
</body>
</html>
