/* commom */
body {
	background-image: url(http://7q5cdt.com1.z0.glb.clouddn.com/bg-canvas_bg.jpg);
    font-family: 'Microsoft YaHei', 'SimHei', sans-serif;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.main a:link {color: #005}		/* 未访问的链接 */
.main a:visited {color: #669}	/* 已访问的链接 */
.main a:hover {color: #336;text-decoration: none;}	/* 鼠标移动到链接上 */
.main a:active {color: #99b}	/* 选定的链接 */

/* navbar */
nav{
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);

	border-radius: 0;
}
.navbar-nav li{
	width: 95px;
	text-align: center;
}

/* index main */
.post-area{
	
	background-color:#f8f8fd;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}
.post-list-header{
	padding: 15px 30px;
	border-bottom: 1px solid #c0c0c0;
	font-size: 30px;
	font-weight: bold;
}
.post-list-item{
	padding:8px 30px 10px 30px; 
	border-bottom:1px solid #ddd; 
}
.post-list-item h2{
	font-size: 20px;
	margin: 8px 0 8px 0;
	padding: 0;
}

.post-list-item:hover{
	background-color: rgba(0,0,10,0.075);
	color: #983;
}



/* categories list */
.categories-list-header {
	display: block;
	padding: 12px 15px;
	border-bottom: 1px solid #c0c0c0;
	font-size: 16px;
	font-weight: bold;
}
.categories-list-item{
	display: block;
	padding:8px 15px; 
	border-bottom:1px solid #ddd; 

	transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
}
.categories-list-item:last-of-type{
	border-bottom:none; 
}
.categories-list-item:hover{
	background-color: rgba(0,0,10,0.075);
	color: #983;
}
.categories-list-item .my-badge{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: #999;
	padding: 0px 7px 1px 8px;
	border-radius: 9px;
	float: right;
	transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
}
.categories-list-item:hover .my-badge{
	transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
}

/* shadow */
.shadow-corner-curl{
	
	position: relative;
	background-color:#f8f8fd; 
	box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}
.shadow-corner-curl:before{
	content:"";
	position: absolute;
	z-index: -5;
	width: 70%;
	height:70%;
	left: 10px;
	bottom: 9px;
	background: transparent;
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);

	/* 向左倾斜12度，再旋转4度 */
	transform:skew(-11deg) rotate(-4deg);
	-webkit-transform:skew(-11deg) rotate(-4deg);
	-moz-transform:skew(-11deg) rotate(-4deg);
	-o-transform:skew(-11deg) rotate(-4deg);
	-ms-transform:skew(-11deg) rotate(-4deg);
}
.shadow-corner-curl:after{
	content:"";
	position: absolute;
	z-index: -5;
	width: 70%;
	height:70%;
	right: 10px;
	bottom: 9px;
	background: transparent;
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);

	/* 向左倾斜12度，再旋转4度 */
	transform:skew(11deg) rotate(4deg);
	-webkit-transform:skew(11deg) rotate(4deg);
	-moz-transform:skew(11deg) rotate(4deg);
	-o-transform:skew(11deg) rotate(4deg);
	-ms-transform:skew(11deg) rotate(4deg);
}

/* footer */
footer{
	height: 50px;
	line-height: 50px;
	margin-top: 80px;
	background: #3f4850;
	color: #aaa;
	text-align: center;
	box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
}
footer a:link {color: #aaa}		/* 未访问的链接 */
footer a:visited {color: #888}	/* 已访问的链接 */
footer a:hover {color: #bbb;text-decoration: none;}	/* 鼠标移动到链接上 */
footer a:active {color: #bbb}	/* 选定的链接 */
footer .point{
	margin: 0 8px;
}
/**
 * Icons
 */
.icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}