.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.page {
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    .left {
        width: 75%;
        float: left;
        padding: 20px 30px;
        line-height: 1.6;
        font-size: 16px;
        background-color: #f8f8fd;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
        >h1 {
            margin-bottom: -10px;
        }
        ul {
            >h2 {
                margin-left: -40px;
                color: #6a6b6b;
            }
            li {
                color: #888888;
                time {
                    display: inline-block;
                    width: 135px;
                }
                .title {
                    font-weight: bold;
                    color: #223253;
                    transition: 0.3s ease;
                    &:hover {
                        color: #4d6dad;
                    }
                }
                i {
                    margin-right: 5px;
                }
                .categories {
                    padding: 0 15px;
                    i {
                        color: #9e9d9d;
                    }
                    a {
                        padding: 0 5px;
                        background-color: #9e9d9d;
                        color: #fff;
                        font-size: 80%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #b6b6b9;
                        }
                    }
                }
                .pageTag {
                    i {
                        color: #c6cbe9;
                    }
                    a {
                        // border: 1px solid #aaa;
                        padding: 0 5px;
                        background-color: #c6cbe9;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 80%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #c0ddc7;
                        }
                    }
                }
            }
        }
    }
    .fixed {
        position: fixed;
        top: 20px;
    }
    .right {
        float: left;
        width: 25%;
        padding-left: 20px;
        top: 0;
        .side {
            box-sizing: border-box;
            background-color: #f8f8fd;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            padding-bottom: 1px;
            -ms-word-break: break-all;
            word-break: break-all;
            /* Non standard for webkit */
            word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            >div {
                padding: 12px 15px;
                // margin-right: -10px;
                border-bottom: 1px solid #c0c0c0;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: #4d6dad;
                transition: 0.5s ease;
                &:hover {
                    color: #223253;
                }
            }
        }
        .content-ul {
            overflow-y: auto;
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}
@media screen and (max-width: 770px) {}
