<h1>
	GitHub
</h1>

<img src="http://github.com/images/modules/dashboard/bootcamp/octocat_setup.png" alt="Set up Git">
<h2>Set up Git</h2>
<p>A quick guide to help you get started with Git.</p>

<img src="http://github.com/images/modules/dashboard/bootcamp/octocat_repo.png" alt="Create repositories">
<h2>Create repositories</h2>
<p>Repositories are where you’ll work and collaborate on projects.</p>

<img src="http://github.com/images/modules/dashboard/bootcamp/octocat_fork.png" alt="Fork repositories">
<h2>Fork repositories</h2>
<p>Forking creates a new, unique project from an existing one.</p>

<img src="http://github.com/images/modules/dashboard/bootcamp/octocat_collabocats.png" alt="Fork repositories">
<h2>Work together</h2>
<p>Send pull requests, follow friends.<br>Star and watch projects.</p>