---
layout: default
---
<div class="post-area">
  <header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <hr>
  <article>
    {{content}}
  </article>






  <!-- 多说评论框 start -->
  <p>
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="gaohaoyang.github.io/{{ page.url }}"></div>
  </p>
  <!-- 多说评论框 end -->


</div>


