---
layout: default
---
<div class="post-area">
  <header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <hr>
  <article>
    {{content}}
  </article>
</div>
<!-- <div class="post">
  
  <article class="post-content">
    {{ content }}
    <br>
    JiaThis Button BEGIN
    <div class="jiathis_style">
      <p>
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_tsina">新浪微博</a>
        <a class="jiathis_button_weixin">微信</a>
        <a class="jiathis_button_douban">豆瓣</a>
        <a class="jiathis_button_ydnote">有道云笔记</a>
        <a class="jiathis_button_renren">人人网</a>
        <a class="jiathis_button_qzone">QQ空间</a>
        <a class="jiathis_button_copy">复制网址</a>
        <a href="http://www.jiathis.com/share?uid=2009267" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
        <a class="jiathis_counter_style"></a>
      </p>
    </div>
    <br>
    <script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1410355181566955" charset="utf-8"></script>
    JiaThis Button END
    多说评论框 start
    <p>
      <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="gaohaoyang.github.io/{{ page.url }}"></div>
    </p>
    多说评论框 end
  </article>
  
</div> -->

